<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Arktos</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="nav-logo"> <img src="/images/logo.png" alt="logo" height="70" width="70">Arktos</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
        </li>
    </ul>

    <div class="responsiveNav">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    </nav>

    <div class="header">
        <h1>Arktos, the all in one bot.</h1>
        <p style="font-size: 20px;">Supercharge your discord server with Arktos, the best discord bot out there.</p>
       <center>
        <button class="headerButton"><a href="/invite">Invite</a></button>
        <button class='headerButton'><a href="https://hamzaelashry.one" target="_blank">Creator</a></button>
       </center>

    </div>


    <script src="/js/home.js"></script>
</body>
</html>